<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mentors - Campus Events</title>
  <link rel="stylesheet" href="style.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
</head>
<body>
  <header>
    <h1>Mentors</h1>
  </header>
  <main>
     <h2 style ="text-align: center;">Upcoming Events</h2>
        <section class="event-section">

           <div class="event-card">
                <h3>Vedansh Dubey  <i class="fa-solid fa-star"style="color: gold;"><span style="color: black;">4.0</span></i></h3>
                <img src="/images/istockphoto-1167769072-612x612.jpg" class="image" alt="Vedansh Dubey photo">
                <p>Senior Executive HR @Wipro | MBA @XIMB, Ex-TCS, Nestlé, HT Media | National Winner Tata Steel-a-thon | 150+ Case Competitions</p>
                <button onclick="alert('Appointment Booked')">Appointment</button>
            </div>
            <div class="event-card">
                <h3>Yash Patel   <i class="fa-solid fa-star"style="color: gold;"><span style="color: black;">4.8</span></i> </h3>
                <img src="/images/istockphoto-500060262-612x612.jpg" class="image" alt="Yash Patel photo">
                <p>Strategy Manager @ Parag Milk Foods (MD’s Office) | 300k+ Impressions | 32x National Case Comp Podiums | Dual MBA – MDI Gurgaon & ESCP Europe | Ex-eBay, L&T</p>
                <button onclick="alert('Appointment Booked')">Appointment</button>
            </div>
            <div class="event-card">
                <h3>Shiri Agarwal  <i class="fa-solid fa-star"style="color: gold;"><span style="color: black;">4.9</span></i></h3>
                 <img src="/images/1000_F_368890785_yPhrRtWYi0eRQkTaehpyAxytx0yX8Arx.jpg" class="image" alt="Shiri Agarwal photo">
                <p>Product @Telstra | MBA @MDI Gurgaon'24 | 34 Case Comps Podiums | 97.11 %ile CAT 2021 | Ex Amazon intern | Traveled 18 Countries</p>
                <button onclick="alert('Appointment Booked')">Appointment</button>
            </div>
    </main>
  </main>
  <footer>
    <p>&copy; 2025 Campus Event Platform</p>
  </footer>
</body>
</html>